html, body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: auto;
}

.formulario-pacientes{
    position: relative;
    width: 100%;
    margin-top:6%;
    background: rgba(26, 131, 255, 0.14);
    border-radius: 10px 10px 10px 10px;
}

.encabezado{
    position:relative;
    width: 100%;
    height: auto;
    background: rgba(26, 131, 255, 0.75);
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenido{
    position:relative;
    width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 4%;
}

h5.encabezado{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 4pt;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3.seccion{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 150%;
    text-align: center;
    color: #393D42;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
}

h6.contenido{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    color: #2469A0;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
}

hr{
    margin-bottom: 3%;
}

.btn{
    float:right;
    background-color: rgba(26, 131, 255, 0.75);
    border-color: #2469A0;
    border-width: 2px;
    border-radius: 10px;
}

.btn:hover {
    background-color:  rgba(62, 214, 175, 0.9);
    border-radius: 10px;
}

.btn:active {
    background-color: rgba(62, 214, 175, 0.5);
    border-radius: 10px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.table{
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: #FFFFFF;
    width: auto;
}

.my-input{
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 1%;
}