html, body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: auto;
}

.formulario-psicologo{
    position: relative;
    width: 100%;
    margin-top:6%;
    background: rgba(139, 226, 126, 0.4);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.encabezado-psicologo{
    position:relative;
    width: 100%;
    height: auto;
    background: rgba(61, 214, 175);
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenido{
    position:relative;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 4%;
}

.image-center{
    position: relative;
    top: 15%;
    margin-bottom: 20%;
}

h5.encabezado-psicologo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 4pt;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3.apartado{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 150%;
    text-align: center;
    color: #393D42;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
}

h6.contenido-psicologo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
    color: green;
    background:none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
}

hr{
    margin-bottom: 3%;
}

.botonp{
    float:right;
    background-color: #8BE27E;
    border-color: green;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10%;
}

.botonp:hover {
    transform: translateX(3px);
}

.botonp:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}