html, body{
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: auto;
}

.bienvenida{
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    margin-top: 6%;
    background: rgba(36, 105, 160, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.descripcion{
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    margin-top: 4%;
    background: rgba(255, 255, 255, 0.78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-left: 5%;
}

.funcion{
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    margin-top: 4%;
    background-color: rgba(62, 214, 175, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-left: 5%;
}

.cuadro{
    position: relative;
    width: 90%;
    height: auto;
    left: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
    background: rgba(255, 255, 255, 0.78);
    border-style: solid;
    border-color: #2469A0;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.formulario{
    position: relative;
    width: 100%;
    margin-top:6%;
    background: #FFFFFF;
    /*background: #94CBBD;*/
    border-radius: 10px 10px 10px 10px;
}

.instrucciones{
    position:relative;
    width: 100%;
    height: auto;
    background: rgba(36, 105, 160, 0.76);
    border-radius: 10px 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.preguntas{
    position:relative;
    width: 100%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 15%;
}

.barra-herramientas{
    position:relative;
    background-color: rgba(36, 105, 160, 0.31);
    padding: 1%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:fit-content;
}

.dibujo{
    position:relative;
    width: 95%;
    height: auto;
    padding-top: 1%;
}

.seccion{
    position: relative;
    width: 95%;
    height: auto;
    background: rgba(36, 105, 160, 0.76);
    border-radius: 10px 10px 10px 10px;
    padding-top: 7.5px;
    padding-bottom: 5px;
}


.button{
    background-color: transparent;
    border-color: transparent;
    float:right;
}

.button:hover {
    transform: translateX(3px);
}

.button:active {
    border-radius: 100%;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.button-herramientas{
    background-color: transparent;
    border-color: transparent;
    padding-bottom: 1%;
    padding-top: 1%;
}

.button-herramientas:hover {
    background-color: rgba(36, 105, 160, 0.50);
    border-radius: 10px;
}

.button-herramientas:active {
    background-color: rgba(62, 214, 175, 0.5);
    border-radius: 10px;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.form-control{
    width: 65%;
    resize: none;
}

h1.titulo{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    line-height: 7vw;
    color: #2469A0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1.gracias{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5vw;
    font-size: 35px;
    color: #2469A0;
}

h5.gracias{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    line-height: 4vw;
    color: #2469A0;
    font-size: 22px;
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: black;
}

h4.nombre{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    color: #2469A0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h6.desc{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    color: rgba(0, 0, 0, 0.8);
}

h1.func{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    color: #2469A0;
}

h3.cuad{
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    color: rgba(0, 0, 0, 0.8);
}

h4.seccion{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
    text-align: center;
    color: #FFFFFF;
    background:none;
}

h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
}

h5.instrucciones{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 125%;
    text-align: center;
    color: #FFFFFF;
    background:none;
}

h6.tamai{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: auto;
    color: black;
    position: absolute;
    text-shadow:none;
}

ul.tamai{
    padding-top: 3%;
    list-style-image: url('../img/vineta.png');
    list-style-position: outside;
    position: relative;
}

ul.htp{
    padding-top: 3%;
    list-style-image: url('../img/vineta.png');
    list-style-position: outside;
    position: relative;
}

.image-center-final{
    position: relative;
    top: 10%;
    margin-bottom: 20%;
    margin-right: 5%;
    margin-left: 5%;
}

.final{
    width: 100%;
    height: auto;
    margin-top: 25%;
}

.enviar{
    background-color: rgba(26, 131, 255, 0.6);
    border-color: #2469A0;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
}

.enviar:hover {
    transform: translateX(3px);
}

.enviar:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.table-tamai{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
}

h6.tabla-tamai{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: auto;
    font-style: initial;
}

td.table-tamai{
    padding: 0.5em;
    background: rgba(16, 188, 227, 0.1);
    border-top: 1px solid white; 
    border-bottom: transparent;
    border-right: 1px solid white;
    width: fit-content;
}

th.table-tamai{
    padding: 0.5em;
    background: #10BCE3;
    width: fit-content;
}

thead.table-tamai{
    background-color: rgba(36, 105, 160, 0.7);
    color:#FFFFFF;
}

tbody.table-tamai{
    background-color: rgba(36, 105, 160, 0.25);
}

td.sub{
    padding-left: 3%;
}
  
td.sub1{
    padding-left: 6%;
}
td.sub2{
    padding-left: 9%
}